@font-face {
    font-family: "Kelson Regular";
    src: url("Armasen-KelsonRegular.woff");
    font-display: block;
  }
@font-face {
  font-family: "Kelson Bold";
  src: url("Armasen-KelsonBold-Bold.woff");
  font-display: block;
}